<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="com.spring.app.Product" id="product1">
        <property name="productId" value="PD101"/>
        <property name="productName" value="Headset"/>
        <property name="price" value="2500.0"/>
    </bean>

    <bean class="com.spring.app.Product" id="product2">
        <property name="productId" value="PD102"/>
        <property name="productName" value="KeyBoard"/>
        <property name="price" value="1500.0"/>
    </bean>

    <bean class="com.spring.app.Product" id="product3">
        <property name="productId" value="PD103"/>
        <property name="productName" value="Pendrive"/>
        <property name="price" value="500.0"/>
    </bean>
    <bean class="com.spring.app.Cart" id="cart">
        <property name="productList">
            <list>
                <ref bean="product1"/>
                <ref bean="product2"/>
                <ref bean="product3"/>
            </list>
        </property>
    </bean>
</beans>